body {
    background-color: #333;
}

button {
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    background-color: #333;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

label {
    color: #fff;
    font-size: 20px;
}

input {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

img {
    padding: 10px;
}